

.column {
  float: right;
  width: 33%;
}

.clearfix::after {
  content: "column";
  clear: both;
  display: table;
}

a:hover {
  color:#4195ce;
}

h3:hover {
  color: #4195ce;
}

body {
  margin: 0px;
  width: auto;
}

header {
  border: 2px ridge rgb(96, 194, 207);
  padding: 30px;
  font-size:1.3em ;
  text-align: center;
  background-image: url("pictures/snow-pic.jpg");
  background-attachment: fixed;
}

main {
  border-width: auto;
  height: 1500;
  padding-top: 50px;
  background-image: url("pictures/hiking-background.jpg");
}
  
h1 {
  border-style: double;
  background-color: black;
  position: center;
  color: white;
}
  
h3 {
  padding-left: 120px;
  color: white;
}
  
  h4 {
    border-style: double;
    background-color: black;
    border-width: 100%;
    text-align: center;
    color: white;
    }

  h5 {
    color: white;
    text-align: left;

  }

  nav {
      float: left;
      width: 100%;
    }
    
    nav ul {
      padding-left: 35%;
      float: left;
      list-style-type: none;
    }
    
    nav li {
      float: left;
    }
    
    nav li a {
      display: block;
      height: 25px;
      padding: 0px 18px 0px 10px; 
      color: whitesmoke;
  }

  article img {
      height: 300px;
      width: 300px;
      border-style: double;
      border-width: 5px;
      float: center;
  }

  section {
      width:100%;
      padding-left: 300px;
  }

  a {
    color: whitesmoke;
}

  footer {
    border: 2px ridge rgb(96, 194, 207);
    padding: 3%;
    display: block;
    text-align: center;
    background-image: url("pictures/snow-pic.jpg");
    background-attachment: fixed;
  }
  