.links-image{
    float: right;
    height: 250px;
    width: 400px;
    padding: 20px;
}

.article{
    clear:both;
    margin-bottom: 30px;
    padding-bottom: 90px;
    width: 90%;
}

a:hover {
    color:#4195ce;
}

body {
    margin: 0;
}

main {
    width: body.width;
    height: body.height;
    padding-left:300px;
    background-image: url("pictures/hiking-background.jpg");
    color:white;
}

header {
    border: 2px ridge rgb(96, 194, 207);
    padding: 60px;
    font-size:1.3em ;
    text-align: center;
    background-image: url("pictures/snow-pic.jpg");
    background-attachment: fixed;
}

nav {
    float: left;
    width: 100%;
}

nav ul {
    padding-left:40%;
    float: left;
    border-bottom: ;
    list-style-type: none;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    height: 25px;
    padding: 12px 18px 8px 18px;    
}

section {
    width: 90%;
    display: inline-block;   
}

h1 {
    border-style: double;
    background-color: black;
    position: center;
    color: white;
  }

h2{
    color: white   ;
}

h4 {
    border-style: double;
    background-color: black;
    border-width: 100%;
    text-align: center;
    color: white;
    }

p{
    max-width: 50%;
}

a {
    color: whitesmoke;
}


footer {
    border: 2px ridge rgb(96, 194, 207);
    padding: 5%;
    display: block;
    text-align: center;
    background-image: url("pictures/snow-pic.jpg");
    background-attachment: fixed;
  }
 